@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    background: linear-gradient(to right, #0c0b0c, #8b0333);
    font-family: "Playfair Display", serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container-sobre {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    color: #333;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.container-sobre h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-sobre label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.container-sobre input,
.container-sobre textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Playfair Display", serif;
}

.container-sobre button {
    margin-top: 20px;
    background-color: #8b0333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

.container-sobre button:hover {
    background-color: #a3043b;
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #8b0333;
    font-weight: bold;
    display: block;
    text-align: center;
}
